[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "==2.3.0"
numpy = "==1.23.1"
protobuf = "==3.20.1"
pyyaml = "==6.0"
transformers = "==4.19.4"
wandb = "==0.12.18"
watermark = "*"
# https://download.pytorch.org/whl/cu113/torch-1.11.0%2Bcu113-cp38-cp38-linux_x86_64.whl
# git+https://github.com/huggingface/transformers

[dev-packages]
black = "*"
"blacken-docs" = "*"
bump2version = "*"
flake8 = "*"
isort = "*"
mypy = "*"
"pre-commit" = "*"
pyupgrade = "*"
# pytest = "*"
"pytest-cov" = "*"
# tox = "*"

[requires]
python_version = "3.9"
