[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "==2.3.*"
numpy = "==1.21.*"
protobuf = "==3.20.*"
pyyaml = "==6.0.*"
scipy = "*"
sklearn = "*"
torch = "==1.11.*"
transformers = "==4.19.*"
wandb = "==0.12.*"
omegaconf = "*"
pydantic = "*"
# https://download.pytorch.org/whl/cu113/torch-1.11.0%2Bcu113-cp38-cp38-linux_x86_64.whl
# git+https://github.com/huggingface/transformers

[dev-packages]
black = "*"
"blacken-docs" = "*"
bump2version = "*"
coverage = "*"
flake8 = "*"
interrogate = "*"
isort = "*"
mypy = "*"
"pre-commit" = "*"
pyupgrade = "*"
pytest = "*"
tuna = "*"
# pdoc = "*"
# "pytest-cov" = "*"
# sphinx = "*"
# tox = "*"
# watchdog = "==2.1.9"

[requires]
python_version = "3.9"
