#

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0"
numpy = "==1.21.6"
protobuf = "==3.20.1"
transformers = "==4.19.4"
datasets = "==2.3.0"
wandb = "==0.12.18"
black = "==22.6.0"
flake8 = "==4.0.*"
isort = "==5.10.*"
pipenv = "*"
lock = "*"

[dev-packages]
black = "==22.6.*"
flake8 = "==4.0.*"
isort = "==5.10.*"

[requires]
python_version = "3.9"
