#TODO check versions for py-slim (debian)
#TODO 
pyyaml==6.0
numpy==1.21.6
protobuf==3.20.1 #4.21.1 from pipenv
#https://download.pytorch.org/whl/cu113/torch-1.11.0%2Bcu113-cp38-cp38-linux_x86_64.whl
# torch==1.11.0+cu113
#git+https://github.com/huggingface/transformers
transformers==4.19.4
datasets==2.3.0
wandb==0.12.18
#watermark==2.3.1